/* Book style for Updates and Project pages */

.book-navigation {
  padding:0 0 10px 0;
  clear:both;
}
  .book-navigation .page-links {
    padding:10px 0;
    margin:0 0 0 -90px;
    width:620px;
    background-color:rgba(0,0,0,0.8);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    overflow:hidden;
  }
    .book-navigation .page-links a {
      color:#fff;
      font-family: 'NotethisRegular', Georgia, "Times New Roman", Times, serif;
      text-decoration:none;
      font-size:15px;
      line-height:normal;
      padding:0 10px;
      display:block;
    }
      .book-navigation .page-links a:hover {
        text-decoration:underline;
      }
        
    .book-navigation .page-links li {
      margin:0;
      padding:0;
      list-style-image:none;
      list-style-type:none;
      width:38%;
      float:left;
      overflow:hidden;
    }
      .book-navigation .page-links li.middle {
        text-align:center;
        width:24%;
      }
        .book-navigation .page-links li.middle a {
          font-size:13px;
          border:1px dotted #666;
        }
        .book-navigation .page-links li.middle a:hover {
          text-decoration:none;
          border:1px dotted #fff;
        }
      .book-navigation .page-links li.right {
        text-align:right;
        float:right;
      }
        .book-navigation .page-links li.right a {
          float:right;
        }