#admin-tabs-top ul.primary{
  border-bottom:0;
  margin:0 0 0 5px;
  padding:0;
  height:20px;
  top:0;
  position:absolute;
  z-index:2;
}

#admin-tabs-top .messages{
  padding:5px 10px 5px 20px;
  margin:10px 0;
  width:550px;
}

/* Rows */
.homepage-row {
  width:100%;
  overflow:hidden;
}
  .homepage-row .block-views {
    width:30%;
    float:left;
  }
