/* 
 Projects index page
 */
h1.title {
  margin-top:20px;
  font-size:4em;
  line-height:normal;
}

#page-content {
  width:800px;
  clear:both;
  background:url(../images/grid_bg.png) 0 0 repeat-y;
  padding:10px 30px 10px 50px;
  margin:0;
  -moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.1);  
}

/* columns */
.view-projects {
  overflow:hidden;
}
  .view-projects .attachment-before {
    width:100%;
  }
  .view-projects ul.item-list-list {
    margin:0;
    padding:0;
  }
  .view-projects li.item-list-row {
    width:29%;
    float:left;
    margin:20px 0;
    padding:0;
    list-style-image:none;
    list-style-type:none;
    background-image:none;
  }
    .view-projects li.views-row-1,
    .view-projects li.views-row-4,
    .view-projects li.views-row-7,
    .view-projects li.views-row-10,
    .view-projects li.views-row-13,
    .view-projects li.views-row-16,
    .view-projects li.views-row-19,
    .view-projects li.views-row-22 {
      clear:both;
      margin-right:6.5%;
    }  
    .view-projects li.views-row-3,
    .view-projects li.views-row-6,
    .view-projects li.views-row-9,
    .view-projects li.views-row-12,
    .view-projects li.views-row-15,
    .view-projects li.views-row-18,
    .view-projects li.views-row-21 {
      float:right;
    }
    
.view-projects li .title {
  font-family: 'NotethisRegular', Georgia, "Times New Roman", Times, serif;
  font-size:16px;
  line-height:normal;
  margin:0 0 1em 0;
}
  .view-projects li .title a {
    display:block;
    text-decoration:none;
    padding:5px 0;
    border-top:4px solid #222;
    border-bottom:1px solid #222;    
  }
  .view-projects li .title a:hover {
    background-color:#e5e5e5;
    background-color:rgba(0,0,0,0.1);
  }
.view-projects li .field-intro-value {
  font-family: LatinModernRoman10Regular, "Hoefler Text", "Times New Roman", Times, serif;
  font-size:14px;
  line-height:1.6em;
  color:#666;
}
