/* 
 Projects index page
 */
h1.title {
  margin-top:0;
  line-height:normal;
}

/* list */
.view-section-listing  ul.item-list-list {
  margin:0;
  padding:0;
}
  .view-section-listing li.item-list-row {
    margin:0 0 30px 0;
    padding:0;
    list-style-image:none;
    list-style-type:none;
    background-image:none;
  }