/*
 * LAYOUT STYLES
 */
 
body {
  margin:0; 
  padding:0 0 97px 0;
  background:#fff url(../images/sitebg_bottom.jpg) no-repeat 0 100%;
}
  #second-body {
    width:100%;
    background:#fff url(../images/sitebg_tile.jpg) repeat-y 0 0;
  }
  #third-body {
    width:100%;
    min-height:600px;
    background:url(../images/sitebg_top.jpg) no-repeat 0 0;
  }
  #top-bar {
    margin:0 0 0 5%;
    padding: 0;
    width:890px;    
  }
  #site-wrapper {
    padding:0 0 0 5%;
    margin: 0;
    width:890px;
    min-height:415px;
  }
  
#main-wrapper {
  width:880px;
  overflow:hidden;
  padding:0 10px 0 0;
}
  .primary-content {
    width:590px;
    float:left;
    margin-bottom:20px;
  }
    .content-top {
      width:650px;
      padding:0 0 0 10px;
      position:relative;
    }
    .page-content {
    }
      .node {
        width:590px;
      }
        .node-content {
          width:470px;
          padding:0 50px 0 70px;
        }
    
  .secondary-content {
    width:250px;
    float:right;
  }

#content-bottom {
  margin:0 auto 30px auto;
  width:960px;
}

#footer {
  z-index:3;
  width:960px;
  overflow:hidden;
  bottom:0;
  position:absolute;
}
  #footer .inner{
    margin:0 auto;
    padding:0 10px;
    height:30px;
    border:1px solid green;
  }