/*
 * LAYOUT STYLES
 */
 
body {
  margin:0; 
  padding:0 0 97px 0;
  background: #68B5FB url(../images/sitebg_bottom.jpg) no-repeat 0 100%;
}
  #second-body {
    width:100%;
    background: url(../images/sitebg_tile.jpg) repeat-y 0 0;
  }
  #third-body {
    width:100%;
    min-height:600px;
    border-top:2px solid #222;
    background: url(../images/sitebg_top.jpg) no-repeat 0 0;
  }
  #top-bar {
    margin:0 0 0 5%;
    padding: 0;
    width:900px;
    height:65px;
    position:relative;    
  }
  #site-wrapper {
    padding:0 0 0 5%;
    margin: 0;
    width:900px;
    min-height:415px;
  }
  
#main-wrapper {
  width:885px;
  overflow:hidden;
  padding:0 10px 0 5px;
}
  .primary-content {
    width:605px;
    float:left;
    padding:0 40px 20px 0;
    margin:0;
    z-index:1;
  }
    .content-top {
      padding:0 0 0 10px;
      position:relative;
    }
    .page-content {
      padding:15px 0 0 0;
    }
      .node {
        width:510px;
        padding:10px 30px 10px 65px;
      }
        .node-content {
        }
    
  .secondary-content {
    position:relative;
    width:240px;
    float:right;
    z-index:2;
  }

#content-bottom {
  margin:0 auto 30px 5%;
  width:900px;
}

#footer {
  margin:0;
  padding:0;
  z-index:3;
  overflow:hidden;
  bottom:0;
  position:absolute;
  width:100%;
}
  #footer .inner{
    margin:0;
    padding:0 0 1px 10px;
  }