/* Default node style */
.node {
  clear:both;
  background:url(../images/notebook_bg.png) 0 0 repeat-y;
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}
  .node h1.title {
    color:#000;
    font-size:3.3em;
    font-weight:normal;
    text-shadow:none;
    padding:20px 0;
    margin:0;
  }

.node-content {
  font-family: LatinModernRoman10Regular, "Hoefler Text", "Times New Roman", Times, serif;
  font-size:14px;
  line-height:1.6em;
}

.node-body {
  padding:0 0 30px 0;
  position:relative;
  z-index:2;
}

  .node .node-body a {
    text-decoration:none;
    background-color:#69B6FA;
    background-color:rgba(105,182,250,0.4);
  }
  .node-teaser .node-body a {
    color:inherit;
  }
    .node .node-body a:hover {
      background-color:#333;
      color:#fff;
    }
    
.page-node .post-date {
  font-family: Georgia, "Times New Roman", Times, serif; 
  float:right;
  font-size:1.3em;
  color:#fff;
  text-shadow: 0.4px 0.3px 2px rgba(0,0,0,0.2);
  margin:0;
  padding:0 0 5px 0;
}
.page-content {
  position:relative;
}
  .field-animal-picture {
    position:absolute;
    right:0px;
    z-index:1;
  }
    .field-animal-picture img {
      border:0;
    }

/* Image */
.field-video,
.field-first-image {
  width:auto;
  display:inline;
  float:left;
  margin:0;
  position:relative;
  z-index:3;
}
  .field-video {
    margin: 0 30px 5px 0;
  }
  .node .node-content img,
  .field-first-image img {
    /* border:1px solid #222; */
  }

.field-video {
  margin:0 0 2em 0;
}  

/* node content */
.node blockquote {
  min-height:30px;
  margin:0 0 20px -6px;
  padding:10px 30px 10px 85px;
  background: rgba(0,0,0,0.1) url(../images/blockquote.png) no-repeat 10px 5px;
  border-left:6px solid rgba(0,0,0,0.3);
  font-family: 'NotethisRegular', Georgia, "Times New Roman", Times, serif;
  letter-spacing:0.04em;
}
.node .node-body blockquote a,
.node blockquote a {
  background-color:transparent;
  padding:0;
  text-decoration:underline;
}
  .node .node-body blockquote a:hover,
  .node blockquote a:hover {
    text-decoration:none;
  }
.node .node-content blockquote p:last-of-type {
  margin-bottom:0;
  padding-bottom:0;
}
.node .node-content h3 {
  margin:30px 0 20px 0;
}

/* Right column topics */
#block-views-node-content-block-2,
#block-views-archive-block-1,
#block-views-archive-block-2 {
  padding:10px 0;
  clear:both;
  font-size:1.1em;
  color:#444;
}
  #block-views-node-content-block-2 h2 a,
  #block-views-archive-block-1 h2 a,
  #block-views-archive-block-2 h2 a {
    font-size:1.1em;
    text-decoration:none;
    display:block;
    width:auto;
    padding:0 15px;
    color:#333;  
  }
  
.secondary-content #block-views-node-content-block-2 ul.item-list,
.secondary-content .view-archive .item-list ul {
  margin:0 0 0 15px;
  padding:0;  
}
  .secondary-content .view-archive .item-list ul li,
  .secondary-content #block-views-node-content-block-2 ul.item-list li {
    margin:0 30px;
    padding:5px 0;
  }
  .secondary-content .view-archive .item-list ul a,
  .secondary-content #block-views-node-content-block-2 ul.item-list a {
    text-decoration:none;
    color:#333;
    color:rgba(0,0,0,0.7);
    padding:0;
  }
    .secondary-content #block-views-node-content-block-2 ul.item-list a {
      display:block;
    }
  .secondary-content .view-archive .item-list ul li a:hover,
  .secondary-content #block-views-node-content-block-2 ul.item-list li a:hover {
    text-decoration:underline;
  }

.view-archive .item-list ul li  {
  list-style-image:url(../images/icons/square_bullet.png);
}

/* Teaser */
.node-teaser {
  clear:both;
  padding-top:25px;
  padding-bottom:20px;
  background:url(../images/notebook_bg.png) 0 0 repeat-y;
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  color:#666;
}
  .node-teaser .node-body {
    padding-bottom:20px;
  }
  .node-teaser .title {
    margin-top:0;
  }
  .node-teaser .post-date {
    color:#999;
    padding:0 0 3px 0;
    margin:0;
    font-style:italic;
  }
    
  .node-teaser .comments ul.links {
    padding:0;
    text-align:right;
    width:100%;
    display:block;
  }
    .node-teaser .comments ul.links li {
      padding:0 0 0 10px;
      margin:0;
    }
    .node-teaser .comments ul.links a {
      text-decoration:none;
      padding:5px;
      text-decoration:none;
      font-size:13px;
      font-weight:bold;
      line-height:normal;
      color:#222;
    }
    .node-teaser .comments ul.links a:hover {
      color:#666;
    }
    
  .node-teaser a.imagecache {
    margin:0 20px 0 0;
    border:6px solid #999;
    border:6px solid rgba(0,0,0,0.3);
    overflow:hidden;
    width:auto;
    display:block;
  }
    .node-teaser a.imagecache:hover {
      border:6px solid #000;
    }
    .node-teaser img {
      display:block;
      padding:2px;
    }

/* topics */
.terms {
  padding:0 20px 20px 20px;
}
  .terms ul.links li {
    display:inline;
    margin:0;
    padding:0 5px;
  }
  .terms ul.links li a {
    text-decoration:none;
    background-color:#333;
    color:#fff;
    padding:3px 7px;
  }
    .terms ul.links li a:hover {
      background-color:#37ABDF;
    }
    
.node-teaser .terms,    
.node .terms {
  padding:3px 0 4px 0;
  margin:10px 0 0 0;
  background-color:#efefef;
  background-color:rgba(100,100,100,0.1);
}
  .node-teaser .terms h3,    
  .node .terms h3 {
    display:inline;
    font-size:1em;
    line-height:1.1em;
    padding-left:5px;
    color:#999;
    text-transform:uppercase;
    font-weight:normal;
  }
  .node-teaser .terms ul,    
  .node .terms ul {
    margin:0;
    padding:0 0 0 7px;
    line-height:normal;
    font-size:0.9em;
    line-height:1.3em;
    font-style:italic;
  }  
  .node-teaser .terms ul.links li,
  .node .terms ul.links li {
    padding:0;
  }
  .node-teaser .terms ul.links li a,
  .node .terms ul.links li a {
    padding:0 7px 0 0;
    color:#999;
    background-color:transparent;
    text-decoration:none;
  }
  .node-teaser .terms ul.links li a:hover,
  .node .terms ul.links li a:hover {
    text-decoration:underline;
  }

.node .terms {
  margin:10px 0;
}
.node .terms {
  font-size:1em;
}