/* Print style */

.book-navigation,
#page-content .links,
#admin-tabs-top,
#comments,
#top-bar,
#main-wrapper .secondary-content,
#footer,
.field-animal-picture {
  display:none;
}

.node,
.primary-content,
#site-wrapper,
#main-wrapper,
body {
  width:100%;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-left:0;
  padding-right:0;
  margin-left:0;
  margin-right:0;
  background-color:#fff;
  color:#000;
}