/* Print style */

.post-date,
.book-navigation,
#page-content .links,
#admin-tabs-top,
#comments,
#top-bar,
#main-wrapper .secondary-content,
#footer,
.field-animal-picture {
  display:none;
}

#page-content {
  margin:0;
  padding:0;
}

#third-body {
  border:0;
}

.node,
.primary-content,
#site-wrapper,
#main-wrapper,
body {
  width:100%;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-left:0;
  padding-right:0;
  margin-left:0;
  margin-right:0;
  background-color:#fff;
  color:#000;
}

.node blockquote {
  margin:0;
  padding:0 0 0 20px;
  width:auto;
  border-left:5px solid #666;
}

/* Otherwise, Firefox clips the content after the first page. */
#second-body,
#third-body,
#main-wrapper,
#site-wrapper
{
  overflow: visible;
}