/* Class styles */

/* top bar */
#site-name {
  font-family: Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  text-shadow: 0 0 3px rgba(0,0,0,0.2);
  margin:0;
  padding:0;
  font-size:1.7em;
  font-weight:normal;
  line-height:1.1em;
  position:absolute;
  bottom:5px;
  left:0;
  width:250px;
}
  #site-name span {
    font-size:1.6em;
  }
  #site-name a {
    padding:0 10px;
  }
  #site-name a:hover {
    color:#000;
    color:rgba(0,0,0,0.5);
  }
  
#top-bar{
  color:#fff;
  height:55px;
  position:relative;
}
  #top-bar a{
    color:#fff;
    text-decoration:none;  
  }
    #top-bar a:hover{
      color:#000;
      color:rgba(0,0,0,0.5);
    }

/* Primary link */
#top-bar #block-menu-primary-links {
  position:absolute;
  right:0;
  top:20px;
  width:650px;
  font-family: 'NotethisRegular', Georgia, "Times New Roman", Times, serif;
  font-size:18px;
  text-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
#top-bar ul.menu{
  padding:0;
  margin:0;
  text-align:right;
}    
  #top-bar li {
  display:inline;
  width:auto;
  padding:0 5px;
  margin:0 10px;
  line-height:1em;
  }
  

/* Node taxonomy */
.node .terms {
  clear:both;
  overflow:hidden;
  font-size:0.9em;
  margin:20px 0 10px -10px;
  padding:3px 20px 5px 20px;
  line-height:normal;
  width:630px;
  background-color: #ccc;
  background-color: rgba(0, 0, 0, 0.2);
}
  .node .terms h3{
    font-size:1em;
    font-weight:normal;
    display:inline;
    margin:0;
    padding:0;
    float:left;
  }
  .node .terms ul{
    margin-left:10px;
    float:left;
  }
    .node .terms ul li{
      padding:0 0.3em;
    }
  .node .terms a {
    background:none;
    color:#13343E;
    text-decoration:underline;
  }
    .node .terms a:hover {
      color:#D00D4F;
      text-decoration:none;
    }

/* Search */
#block-search {
  clear:both;
  float:right;
  width:230px;
  overflow:hidden;
  position:relative;
  border:1px dashed #000;
  padding:5px 10px;
  margin:10px 0 15px 0;
  filter:alpha(opacity=30);
  opacity:0.3;
}
  #block-search:hover {
    filter:alpha(opacity=100);
    opacity:1;
  }
  #block-search label,
  #block-search h3 {
    display: none;
  }
  #block-search #edit-search-block-form-1-wrapper {
    width:130px;
    float:left;
    margin:0;
  }
    #search-form input.form-text,
    #block-search #edit-search-block-form-1-wrapper input {
      width:100%;
      background-color:#cfc8ba;
      background-color:rgba(0,0,0,0.1);
      color:#000;
      border:1px solid #999;
      margin:0;
    }
    #search-form input.form-text:focus,
    #block-search #edit-search-block-form-1-wrapper input:focus {
      color:#fff;
      background-color:#a39f9a;
      background-color:rgba(0,0,0,0.3);
      margin:0;
    }
  #block-search .form-button {
    display:inline;
    position:absolute;
    right:7px;
    bottom:3px;
  }

/* Pager */
.pager {
  border-top:1px dashed #5b5650;
  border-top:1px dashed rgba(0,0,0,0.6);
  padding-top:20px;
  margin-top:30px;
  padding-bottom:0;
  margin-bottom:0;
}
.pager li{
  display:inline;
  list-style-image:none;
  list-style-type:none;
  margin:0;
  padding:0;
}
  .pager .pager-first a,
  .pager .pager-last a,
  .pager .pager-next a,
  .pager .pager-previous a{
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
    
    background-color:#9f978a;
    background-color:rgba(0,0,0,0.3);
    padding: 3px 10px;
    margin:0;

    color: #fff;
    display: inline;
    text-decoration:none;
    font-size:0.8em;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
    body.page-ja .pager .pager-first a,
    body.page-ja .pager .pager-last a,
    body.page-ja .pager .pager-next a,
    body.page-ja .pager .pager-previous a{
      font-size:0.9em;
    }
    .pager .pager-first a:hover,
    .pager .pager-last a:hover,
    .pager .pager-next a:hover,
    .pager .pager-previous a:hover {
      background-color:#000;
    }
  .pager .pager-item {
    padding:0;
    margin:0;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
    .pager .pager-item a{
      text-decoration:none;
      background-color:#9f978a;
      background-color:rgba(0,0,0,0.3);
      padding:1px 5px 3px 5px;
      height:20px;
      color:#fff;
    }
      .pager .pager-item a:hover {
        background-color:#000;
      }
    .pager .pager-current {
      padding:3px;
    }

/* Footer */

#footer{
  /* background:url(../images/sitebg_bottom.jpg) no-repeat 0 100%; */
  font-family: Georgia, "Times New Roman", Times, serif;
  color:#4d4d4d;
  color:rgba(255,255,255,0.3);
  font-size:0.9em;
  letter-spacing:0.03em;
  text-align:right;
}
  #footer ul,
  #footer li,
  #footer p {
    margin:0;
    padding:0 5px;
    display:inline;
  }
  #footer .block{
    margin:0;
    padding:0;
    display:inline;
    float:right;
  }
  #footer #block-menu-menu-footer-links{
    float:left;
  }
  #footer li{
    padding:0 10px 0 5px;
  }
  #footer a{
    color:#808080;
    color:rgba(255,255,255,0.5);
    text-decoration:none;
  }
    #footer a:hover{
      color:#D00D4F;
    }

/* lightbox */
#imageData #bottomNav {
  margin-top:-40px;
  width:28%;
  float:right;
}
#bottomNavZoom,
#bottomNavZoomOut {
  margin-top:-10px;
  margin-right:8px;
  opacity:0.3;
  filter:alpha(opacity=30)
}
  #bottomNavZoom:hover,
  #bottomNavZoomOut:hover {
    opacity:0.7;
    filter:alpha(opacity=70)
  }

dl .lightbox-processed,
.field-first-image .lightbox-processed {
  border:1px dashed #000;
  display: block;
  padding:3px;
  line-height:0;
}
  dl .lightbox-processed img,
  .field-first-image .lightbox-processed img{
    border:1px solid #000;
  } 
dl .lightbox-processed:hover,
.field-first-image .lightbox-processed:hover {
  border:1px dashed #666;
}
  dl .lightbox-processed:hover img,
  .field-first-image .lightbox-processed:hover img {
    opacity:0.6;
    filter:alpha(opacity=60)
  }


/* Admin tabs */
body.user-edit #admin-tabs-top {
  height:54px;
}
#admin-tabs-top .messages{
  padding:5px 10px 5px 20px;
  margin:10px 0;
  background-color:#b3b3b3;
  background-color:rgba(255,255,255,0.7);
  border:1px solid rgba(0,0,0,0.3);
  
  -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
  -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
  box-shadow: 1px 1px 5px rgba(0,0,0,0.4); 
  
  color: #444;
  width:600px;
}
#admin-tabs-top ul.primary{
  border-bottom:0;
  margin:0 0 0 20px;
  padding:0;
  height:20px;
}
#admin-tabs-top ul.primary li a{
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -khtml-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -khtml-border-radius-topright: 4px;
  border-top-right-radius: 4px;  
  
  -moz-box-shadow: -1px -1px 3px rgba(0,0,0,0.1);
  -webkit-box-shadow: -1px -1px 3px rgba(0,0,0,0.1);
  box-shadow: -1px -1px 3px rgba(0,0,0,0.1); 
  
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing:0.01em;
  border:0;
  font-size:0.9em;
  line-height:21px;
  padding:3px 10px 2px 10px;
  background-color:#333;
  color:#fff;
  opacity:0.3;
  filter:alpha(opacity=30);
}
  #admin-tabs-top ul.primary li a.active,
  #admin-tabs-top ul.primary li a:hover{
    background-color: #fff;
    color:#000;
    opacity:1;
    filter:alpha(opacity=100);
  }
#admin-tabs-top ul.secondary{
  letter-spacing:0.01em;
  font-size:0.9em;
  height:20px;
  margin:0 0 0 20px;
  padding:5px 0;
}
div.view div.views-admin-links li a {
  color:#D00D4F;
}

/* Randoms */
hr.end-node {
  clear:both;
  border: 0;
  width: 100%;
}